.heading{
    text-align: center;
    font-size:2rem;
    text-transform: uppercase;
    margin-top:3rem;
    margin-bottom:3rem;
    font-weight:900;
    color:#fff;
}
p.vegprice,p.quantity{
    color:#fff;
    font-size:1.2rem;
    margin-left:1.2rem;

}
.vegetable-div{
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
margin-top:-50px;
margin-bottom:-20px;
padding-top:40px;
}
p.vegname{
    color:#fff;
    text-align: center;
    font-size:1.5rem;
    text-transform: uppercase;
    font-weight:600;

}
.me-2{
    height:50px;
    box-shadow: none;
outline:none;
border:0 none;
}
.vegetable-card button{
    padding:15px 25px;
    border:none;
    border-radius: 7px;
    margin-left:20px;
    background-color: #fff;
}
.vegetable-card button .butn{
    color:#222;
}

.vegetable-card button:hover{
    background-color: #000;
}
.vegetable-card button:hover .butn{
    color:#fff;

}
.main-card{
    position: relative;
    width:320px;
    height:450px;
    margin:30px;
    margin-bottom: 80px;
    border-radius: 20px;
    border-bottom-left-radius:160px ;
    border-bottom-right-radius: 160px;
    background: #287bff;
    overflow: hidden;
    box-shadow: 0 15px 0 #fff,
    inset 0 -15px 0 rgba(255,255,255,0.25); 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.main-card::before{
    content:'';
    position: absolute;
    top:-140px;
    left:-40%;
    width:100%;
    height:120%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter:blur(5px);
}
.main-card:nth-child(1){
    background: linear-gradient(to bottom,#ff2ae0,#645bf6);
}
 /* .main-card:nth-child(1){
    background: linear-gradient(to bottom,#ffec61,#f321d7);
} */
.main-card:nth-child(2){
    background: linear-gradient(to bottom,#24ff72,#9a4eff);
} 
.searchbar{
    background-color: #fff;
    height:60px;
    width:750px;
    border:none;
    outline: none;
    border-radius: 5px;
    padding-left:30px;
    padding-right:30px;
}
.searchbar::placeholder{
    color:#555;
}
.icons{
    position: relative;
    width:140px;
    height:120px;
    background: #fff;
    border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    box-shadow: 0 10px 0 rgba(0,0,0,0.1),
    inset 0 -8px 0 #fff;
    z-index: 1000;
}
.icons::before{
    content:'';
    position: absolute;
    top:0;
    left:-50px;
    width:50px;
    height:50px;
    background: transparent;
    border-top-right-radius:50px;
    box-shadow: 15px -15px 0 15px #fff;
}
.icons::after{
    content:'';
    position: absolute;
    top:0;
    right:-50px;
    width:50px;
    height:50px;
    background: transparent;
    border-top-left-radius:50px;
    box-shadow: -15px -15px 0 15px #fff;
}
.icons .imgg{
    position:relative;
    z-index:10000;
    height:110px;
    width:110px;
    margin-left:15px;
    border-radius: 50%;
}
.main-card .content{
    padding-top:40px;
}


.searchbtn {
    color:#fff;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 1rem;
    border-radius: 7px;
    margin-left: 10px;
    font-weight:500;
    padding:16px 20px;
    cursor: pointer;
  }
.searchbtn:hover{
  color: #222;
  background-color: white;
}