.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
    margin-top:-20px;
    margin-bottom:-20px;
    padding:30px;
  }
 #head{
  font-size: 2rem;
  font-weight: 700;
  color:#fff;
 }
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    /* justify-content: space-around; */
    margin: 30px;
    padding:30px 20px;
    position: relative;
    background-color: #fff;
  }
  
  .cartItem img {
    width: 200px;
  }
  .cartItem span {
    margin:5px;
  }
  
  .cartItem .image {
    border-right:2px solid #222;
    width: 40%;
    margin-right:10%;
    /* background-color: #313949; */
  }
  .cartItem .description {
    width: 50%;
    font-size: 30px;
  }
  
  .cartItem .closeIcon {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #222;
    font-weight: bold;
    height: 18px;
    width: 18px;
    margin: 15px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  .checkout p{
    font-size:1.5rem;
    /* margin-left:-180px; */
    text-align: center;
    /* margin:0; */
    font-weight:700;
    text-transform: uppercase;
    color:#fff;
  }

  .checkout button {
   
    color: rgb(19, 19, 19);
    background-color: white;
    border: 1px solid #333;
    font-size: 1rem;
    border-radius: 7px;
    margin: 10px;
    font-weight:700;
    text-transform: uppercase;
    padding:16px 12px;
    cursor: pointer;
  }
.checkout button:hover{
  background-color: rgb(19, 19, 19);
    color: white;
}
  .emptyCart{
    margin: 120px;
  }

  .emptyCart button {
    padding: 2px;
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 50px;
    margin-left: 100px;
    cursor: pointer;
  }
  .countHandler button{
    width:40px;
    height:40px;
    border:1px solid #333;
    border-radius: 3px;
    margin:0 10px;
  }
  .description .veg-name{
    font-weight: 700;
    text-transform: uppercase;
  }


  @media screen and (max-width: 770px) {
    .cartItem {
      width: 600px;

    }
  }
  @media screen and (max-width: 650px) {
    .cartItem {
      width: 500px;
    }
    .description .veg-name {
      font-size:1.5rem;
    }
  }