ML_api/api/__pycache__/__init__.cpython-310.pyc
ML_api/api/__pycache__/urls.cpython-310.pyc
ML_api/api/__pycache__/utils.cpython-310.pyc
ML_api/api/__pycache__/views.cpython-310.pyc
ML_api/ML_api/__pycache__/__init__.cpython-310.pyc
ML_api/ML_api/__pycache__/settings.cpython-310.pyc
ML_api/ML_api/__pycache__/urls.cpython-310.pyc
ML_api/ML_api/__pycache__/wsgi.cpython-310.pyc
