*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }  
  .container{
    margin:0 auto;
    margin-top:100px;
    padding-top:0;
    width:500px;
    border:1.5px solid #337ab7;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .heading{
    text-align: center;
    border-radius: 5px;
    background-color:#337ab7;
    color:#fff;
    padding:15px 0;
    width:500px;
    text-transform: uppercase;
    margin-left:-15px;
  }
  .heading h1 {
    font-size: 1.5rem;
  }
  .panel-body{
    padding-left:20px;
    padding-top:10px;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    padding-bottom:.4rem;
  }
  .form-group label{
    font-size:1rem;
    font-weight:bold;
    padding-bottom:.4rem;
  }
  .form-group .form-control{
    width:95%;
    height:35px;
    border:1px solid lightgray;
    border-radius:4px;
  }
  .form-group div{
  display: flex;
  gap:3.5rem;
  }
  .form-group div input{
  height:15px;
  width:15px;
  margin-right:.4rem;
  }
  .panel-body .btn{
    padding:15px 25px;
    background-color: #337ab7;
    color:#fff;
    border-radius: 5px;
    border:none;
    margin-top:15px;
    width:97%;
    font-size: 1rem;
  }
  .panel-body .btn:hover{
    background-color: #035ca9;
  }
  .panel-body #terms{
    margin-top:5px;
  }
  .panel-body #forgot{
    margin-left:12rem;
  }
  .panel-body #or{
    margin-left:14rem;
    margin-top:20px;
    margin-bottom:20px;
  }
  .panel-body #or span::before{
    background-color: #035ca9;
  }
  .panel-body #register{
    margin-top:1rem;
    margin-left:6.7rem;
    font-size: 1.2rem;
  }
  .panel-body #register a{
    text-decoration: none;
    color:#035ca9;
  }
 .panel-body .login-options{
     margin:0 auto;
margin:10px;
 }
 .panel-body .login-options p{
height:40px;
width:100%;
/* background-color: #e1e1e1; */
margin-bottom:10px;
border-radius:5px;
padding:10px 15px;
border:1px solid #333;
margin-left:-5px;
 }
 .panel-body .login-options p:first-child{
    background-color:#337ab7;
    border-color:transparent;
    color:#fff;
 }
 .panel-body .login-options p span{
margin-right:20px;
 }
