*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  margin:0 auto;
  margin-top:100px;
  padding-top:0;
  width:500px;
  border:1.5px solid #337ab7;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.heading{
  text-align: center;
  border-radius: 5px;
  background-color:#337ab7;
  color:#fff;
  padding:15px 0;
  width:500px;
  text-transform: uppercase;
  margin-left:-15px;
}
.heading h1 {
  font-size: 1.4rem;
}
.panel-body{
  padding-left:20px;
  padding-top:10px;
}
.form-group{
  display: flex;
  flex-direction: column;
  padding-bottom:.2rem;
}
.form-group label{
  font-size:1rem;
  font-weight:bold;
  padding-bottom:.3rem;
}
.form-group .form-control{
  width:95%;
  height:34px;
  border:1px solid lightgray;
  border-radius:4px;
}
.form-group div{
display: flex;
gap:3.5rem;
}
.form-group div input{
height:15px;
width:15px;
margin-right:.4rem;
}
.panel-body .btn{
  padding:15px 25px;
  background-color: #337ab7;
  color:#fff;
  border-radius: 5px;
  border:none;
  margin-top:15px;
  width:97%;
  font-size: 1rem;
}
.panel-body .btn:hover{
  background-color: #035ca9;
}
.panel-body #terms{
  margin-top:5px;
}
.panel-body #login{
  margin-top:1rem;
  margin-left:4.6rem;
  font-size: 1.2rem;
}
.panel-body #login a{
  text-decoration: none;
  color:#035ca9;
}