.highlights{
  padding:40px 0;
}
.home{
  
  height:670px;
  margin-top:70px;
  margin-left:70px;
  background: url('../../assets/anchor.gif');
  background-repeat: no-repeat;
  background-size: 95% 90%;
  }
 
  .highlights .heading{
    text-transform: uppercase;
    color:#fff;
    font-size: 2.4rem;
    font-weight:900;
    letter-spacing: 0.1rem;
    margin-top:0px;
    position:relative;
    text-align: center;
  }
  
  .highlights .heading::after
  {
    content:'';
    height:5px;
    border-radius: 7px;
    width:100px;
    background:orange;
    position:absolute;
    left:calc(57% - 10%);
    bottom:-12px;
  }










  .headlineslider .image-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left:436px;
    margin-top:38px;
}
.headlineslider .image-slider img {
  width:710px !important;
  height: 430px;
  border-radius: 15px;
  opacity: .8.3;
  box-shadow: 10px 20px 10px 10px 5px #fff;

}
 .headlineslider .pagination {
    display: flex;
    justify-content: center;
    margin-top: -13px;
  position: absolute;
  right:32%;
  }
  
  .headlineslider .pagination span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .headlineslider .pagination span.active {
    background-color: green;
  }
  .app{
    padding-top:20px;
  }
  .headlineslider .image-slider button {
      border: none;
      border-radius: 50%;
      margin:0 -20px;
      width:50px;
      height:50px;
      background-color: green;
    color: #fff;
    cursor: pointer;
    transition: .4s;
    z-index:999;
    opacity: 1;
  }
  .headlineslider .image-slider .arrow{
    font-size:1.5rem;
  }
  .headlineslider .image-slider button:hover{
   transform: scale(1.08);
  }
