/* .myStyledElement {
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
}
  
  .myStyledElement.blue {
width: 200px;
}

.myStyledElement.red {
      width: 500px;
  }
   */