@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,600;1,700;1,800&display=swap');
:root {
--green: #16a085;
--black: #192a56;
--light-color: #666;
--text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .15);
--border:.2rem solid var(--green);

}

img{
  mix-blend-mode: multiply;
}
.offer{
    background: #fff;
    padding:30px;
    padding-top:15px;
}
.offer .heading{
  text-align: center;
  text-transform: uppercase;
  color:var(--black);
  font-size: 2.4rem;
  font-weight:900;
  letter-spacing: 0.1rem;
  margin:0;
  margin-bottom:3rem;
}
.offer .heading span{
  text-transform: uppercase;
  color:var(--green);
  }
.offer .review{
  display: grid;
  place-items: center;
  padding:15px;
  padding-top:0;
}
::selection{
  background: rgba(23,162,184,0.3);
}
.offer .wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
del {
  text-decoration: line-through;
}
.offer .wrapper .box{
  background: #f7f7f7;
  width: calc(32% - 5px);
  padding: 25px;
  padding-left:15px;
  padding-top:15px;
  margin-bottom:2rem;
  border-radius: 3px;
  /* border:1px solid #ccc; */
}
.offer .wrapper .box:hover{
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  transform: scale(1.03);
  cursor: pointer;
}

.offer .wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
}
.offer .box .info{

  width:150px;
  height:150px;
}
.offer .box .info .name{
  font-weight: 600;
  font-size: 1.4rem;
  color: #17a2b8;
  margin-bottom:.5rem;
}
.offer .box .info .city{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom:5px;
}
.offer .box .info .price {
  font-size: 1.2rem;
}
.offer .box .info .price span.real{
  color: #17a2b8;
}
.offer .box .info .price del,
  .offer .box .info .price span{
  color:tomato;
}

.offer .box .content .image{
  height: 150px;
  width: 150px;
  padding: 3px;

}
.offer .content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 
}


@media (max-width: 1045px) {
  .offer .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .offer .wrapper .box{
    width: 100%;
  }
}

.prices{
  padding:0;
  padding-top:70px;
}
.prices img{
  width:100%;
 
}




.demanding{
  
  height: 175px;
  width: 100%;
  padding: 3px;
  background: cyan;
  color: black; 
}

.offer .view{
  padding:20px 25px;
  color:#fff;
  background-color:#16a085;
  border-radius: 8px;
}
.offer .view:hover{
  background-color:#10856d;
}