.order-section{
    /* background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949; */
    margin-top:-40px;
    padding-top:50px;
    padding-bottom:50px;
}
/* .order-section h1{
    color:#fff;
    text-transform: uppercase;
    font-size:2.5rem;
    text-align: center;
} */
.ordermsg{
margin:60px 0 !important;
}
.order-section h1{
    text-transform: uppercase;
    color:#fff;
    font-size: 2.4rem;
    font-weight:900;
    letter-spacing: 0.1rem;
    margin-top:0px;
    position:relative;
    text-align: center;
  }
  
  .order-section h1::after
  {
    content:'';
    height:5px;
    border-radius: 7px;
    width:100px;
    background:orange;
    position:absolute;
    left:calc(57% - 10%);
    bottom:-12px;
  }
.ordermap{
    display: flex ;
    flex-wrap: wrap;
}
.list-item{
  margin: 50px 0;
  width:400px ;
  display: flex ;
  margin-left:100px;
  border-radius:5px;
    background-color: #fff;
    padding:0;
    height:180px;
}
.order-img{
    height:100px;
    width:35%;
}
.order-text{
   padding-left:30px;
}
.order-text p{
    font-size:1.3rem;
    color:#222;
    margin:0;
    line-height:1.7;
}
.order-text p span{
    font-weight:900;
    text-transform: uppercase;
    font-size: 1.2rem  ;
}
.vegiename{
    font-weight:900;
    text-transform: uppercase;
    font-size: 1.5rem !important ;
}
.status{
    color:green !important;
    font-weight: 900;
}