.singleproduct img{
    mix-blend-mode: multiply;
    transition: .5s;
}
.singleproduct img:hover{
    transform:scale(1.04);
}
.singleproduct{
  /* background-image: linear-gradient(45deg,#02aab0 0%,#00cdac 100% );
        background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949; */

margin:0;
padding-top:60px;
padding-bottom:30px;
margin-top:-40px;
margin-bottom:-20px;
display: flex;
align-items: center;
justify-content: center;
}
.ProductView{
    display: flex;
width:1080px;
    /* border:1px solid #ddd; */
    height:530px;
    margin-bottom:5rem;
    margin-top:2rem;
    border-radius: 20px;
}
.imageWrapper{
    width:42% !important;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding:40px;
}
.imageWrapper img{
    width:80%;
    height:55%;
}
p.delivery{
    font-size:1.2rem;
    font-weight:700;
    margin:20px 0;
    color:#333;
}
.prod-details{
    width:58%;
background-color: #f1f1f1;
    padding-left:60px;
    padding-top:30px;
    border-radius: 5px;
    border:none;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
}
.prod-details .head{
    color:#ff5e62;
    color:#16a085;
    color:#027084;
    font-size:2rem;
    text-transform: uppercase;
    font-weight:700;
    margin-bottom:20px;
}
.prod-details .rate{
    font-size:1.5rem;
    color:#333;

}
.prod-details .rate .realprice{
    font-size:1.6rem;
    font-weight: 800;
    color:#ff5e62;
    color:#16a085;
    color:#027084;
}
.prod-details .quant{
    display: flex;
    margin-top:20px;
}
.imageWrapper .basketbtn{
    font-size: 1.2rem;
    border:1px solid #ff9966;
    border:1px solid #00cdac;
    background-image: linear-gradient(to right, #ff9966, #ff5e62); 
    background-image: linear-gradient(45deg,#027084 0%,#027084 100% );
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;

    color:#fff;
    width:80%;
    padding:15px 10px;
    border-radius: 8px;
    margin-top:80px;
    margin-left:50px;
    transition: .7s;
}
.imageWrapper .basketbtn:hover{
/* background-image: linear-gradient(to right, #00cdac, #02aab0);  */
transform: scale(1.06);
}
.quant .quantity{
    font-size:1.6rem;
    color:#222;
}
.quant .quantity span{
    color:#ff5e62;
    color:#16a085;
    color:#027084;
    font-weight: 800;
}
.quant .increaseQuant,.quant .decreaseQuant{
    font-size:1rem;
    height:30px ;
    width:30px ;
    border:none;
    background-color: #222;
    color:#fff;
    border-radius:5px;
    margin:0 10px;
}
.prod-details .sold{
    padding:1.1rem 0;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    margin-bottom:20px;
    margin-right:20px;
}
.prod-details .sold p{
    font-size: 1.3rem;
    color:#ff5e62;
    color:#16a085;
    color:#027084;
    display: inline;
    margin-right: 20px;
    font-weight: 800;
}
.prod-details .sold p span{
    color:#333;
}
.prod-details .deliver p{
    font-size:1.4rem;
    font-weight: 800;
    color:#ff5e62;
    color:#16a085;
    color:#027084;
}
.prod-details .deliver div{
    display: flex;
    justify-content: space-between;
}
.prod-details .deliver .address p{
   color:#333;
}
.prod-details .deliver .stock{
    margin-top:10px;
    padding-top:10px;
    margin-right:20px;
    border-top:1px solid #555;
}
.prod-details .deliver .stock .date{
    font-size:1.2rem;
}
.prod-details .deliver .stock .available span{
    color:green;
    font-weight: 500;
}


@media screen and (max-width:1380px){
    .ProductView{
        /* background-color: red; */
        margin-left:200px;
        width:900px;

    }
}
@media screen and (max-width:1120px){
    .ProductView{
        /* background-color: yellow; */
        margin-left:50px;
        width:850px;
    }
    .prod-details .deliver .stock{
        margin-top:0px;
    }
    .prod-details .sold{
        padding:.7rem 0;
    }
    .imageWrapper{
        width:30%;
        margin-left:10px;
    }
    .prod-details .deliver .stock .available{
        /* color:green; */
        font-weight: 800;
        font-size:1.1rem;
        margin-right:10px;
    }
    .prod-details .deliver .stock .date{
        font-size:1.1rem;
    }
}
@media screen and (max-width:940px){
    .ProductView{
        /* background-color: blue; */
        margin-left:10px;
        width:750px;
    }
    .prod-details .deliver .stock{
        margin-top:0px;
    }
    .prod-details .sold{
        padding:.4rem 0;
    }
    .prod-details{
        width:60%;
        /* background-color: aqua; */
        padding-left:10px;
    }
}
@media screen and (max-width:800px){
    .ProductView{
        /* background-color: lightcoral; */
        margin-left:10px;
        width:720px;
        display: flex;
        /* flex-direction: column; */
    }
    
}
@media screen and (max-width:760px){
    .ProductView{
        /* background-color: yellow; */
        margin-left:10px;
        width:620px;
        display: flex;
        flex-direction: column;
        height:800px;
    }
    .imageWrapper{
        width:600px !important;
        display: flex;
        flex-direction: row;
        /* margin-left:30px; */
        /* background-color: red; */
    }
    .imageWrapper img{
        width:300px;
        height:300px;
    }
    .imageWrapper button{
        width:200px !important;
        height:70px;
        margin-left:30px;
        margin-top:80px !important;
    }
    .prod-details{
        width:100%;
        /* background-color: aqua; */
        padding-left:60px;
    }
} 
    @media screen and (max-width:670px){
        .ProductView{
            /* background-color: lightcoral; */
            margin-left:10px;
            width:570px;
            display: flex;
            /* flex-direction: column; */
        }
        .imageWrapper button{
            width:170px !important;
            
        }
    }